body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffe6f2; /* Light pink background */
  color: #333; /* Dark text for readability */
}

svg {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

img {
  margin-right: 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  
  .MuiContainer-root {
    padding: 0 10px;
  }
}
